<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="SSL" value="true"/>
    <add key="FromEmail" value="deepakk.step2gen@gmail.com"/>
    <add key="Username" value="deepakk.step2gen@gmail.com"/>
    <add key="Password" value="Deepak@123"/>
    <add key="IsBodyHtml" value="true"/>
  </appSettings>
</configuration>